<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Set position</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Declare your position</h1>
    <form id="ipForm" action="GeoIP" method="POST">
        <input type="submit" name="submit" value="submit" />
    </form>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script type="text/javascript">
    $( "#ipForm" ).submit(function( event ) {
        event.preventDefault();
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(getLocationAjax);
        } else {
            console.log("position not allowed")
            //TODO : Error box
        }
    })

    function getLocationAjax(position) {
        $.ajax({
            type: "POST",
            contentType: 'application/json',
            url: "/positions/setPositionKafka",
            dataType: 'json',
            data: JSON.stringify({"latitude": position.coords.latitude, "longitude": position.coords.longitude, "accuracy": position.coords.accuracy}),
            timeout: 100000,
            success: function (id) {
                console.log("SUCCESS: ", id);
                window.location.href = 'donePosition'
            },
            error: function (e) {
                console.log("ERROR: ", e);
            },
            done: function (e) {
                console.log("DONE");
            }
        });
    }


</script>
</html>